<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{sleep}}">
		{{#if devour}}DEVOUR!{{else}}I DON'T LIKE IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
